"*":
  "Sublime-Style-Column-Selection": {}
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-beautify":
    general:
      _analyticsUserId: "1c09cfed-a347-4bee-a365-1f607bd6794f"
  "atom-jest-snippets":
    toggleSemicolons: false
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 16
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "202ededf-8023-ca2c-c224-5c5f6320030b"
  "linter-eslint": {}
  "linter-python":
    executablePath: "/usr/local/anaconda3/bin/pylama"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0065cc"
      zBright:
        brightBlue: "#007dfd"
    style:
      fontFamily: "Inconsolata for Powerline"
      fontSize: "16"
  script:
    stopOnRerun: true
  teletype: {}
  "todo-show":
    showInTable: [
      "Text"
      "Path"
    ]
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
